<header class="header">
    <div class="header__logo">
        <h1>Friendly Dads</h1>
    </div>
    <button class="header__toggle" (click)="toggleNav()">Menú</button>
    <nav class="header__nav" [ngClass]="{ 'active': isNavOpen }">
        <ul>
            <li><a class="item" routerLink="/inicio">Inicio</a></li>
            <li><a class="item" routerLink="/auth">Iniciar Sesión</a></li>
            <li><a class="item" routerLink="/sign-up">Registrarse</a></li>
            <li><a class="item" (click)="logOut()">Cerrar Sesión</a></li>
        </ul>
    </nav>
</header>