<!-- <footer class="footer">
    <div class="footer-container">
      <p class="footer-text">© 2023 Todos los derechos reservados</p>
    </div>
  </footer> -->

  <footer class ="pie-pagina">
    <div class ="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img [src]="'assets/logopro.svg'" alt="">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <P>Cuidar a un bebé es una tarea sagrada, llena de amor y responsabilidad. Permítete aprender, crecer y disfrutar de cada momento especial junto a tu pequeño milagro.</P>
        </div>
        
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="https://web.facebook.com" class="fa fa-facebook"></a>
                <a href="https://github.com" class="fa fa-github"></a>
                <a href="https://www.instagram.com" class="fa fa-instagram"></a>
                <a href="https://www.youtube.com" class="fa fa-youtube"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2023 <b>Program</b> - Todos los derechos reservados</small>
    </div>
</footer>
  
