<div class="start-container">
    <head>
        <title>Nombre del archivo</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
      </head>
        <div class="container">
          <h1>Detalles del archivo</h1>
          <div class="file-details">
            <div class="file-preview">
              <img src="preview.jpg" alt="Vista previa del archivo">
            </div>
          </div>
          <div class="file-download">
            <a href="archivo.pdf" download>Descargar archivo</a>
          </div>
        </div>
</div>