<div class="container">
    <div class="login-box">
        <form class="form">
        <h1>Formulario del usuario</h1>
        <div class="form-group">
            <select class="way">
            <option value="tipo_documento" class="j">Parentesco</option>
            <option value="Madre" class="j">Madre</option>
            <option value="Padre" class="j">Padre</option>
            <option value="Tio" class="j">Tio</option>
            <option value="Tia" class="j">Tia</option>
            </select>
            <i></i>
        </div>
        <div class="form-group">
            <select class="way">
            <option value="tipo_documento" class="j">Estado</option>
            <option value="Madre" class="j">Embarazada</option>
            <option value="Padre" class="j">Crianza</option>
            </select>
            <i></i>
        </div>
        <div class="form-group">
            <input type="text" id="titulo" name="titulo" required="required">
            <span>Nombres</span>
            <i></i>
        </div>
        <div class="form-group">
            <input type="text" id="descripcion" name="descripcion" required="required">
            <span>Apellidos</span>
            <i></i>
        </div>
        <div class="form-group">
            <select class="way">
                <option value="tipo_documento" class="j">Tipo documento</option>
                <option value="Madre" class="j">Cedula</option>
                <option value="Padre" class="j">Targeta de identida</option>
            </select>
            <i></i>
        </div>
        <div class="form-group">
            <input type="text" id="titulo" name="titulo" required="required">
            <span>Numero</span>
            <i></i>
        </div>
        <div class="form-group">
            <input type="text" id="descripcion" name="descripcion" required="required">
            <span>Edad</span>
            <i></i>
        </div>
        <div class="form-group">
            <input type="file" id="archivo" name="archivo" required="required">
            <span class="date">Foto:</span>
            <i></i>
        </div>
        <input type="submit" value="Guardar">
        </form>
    </div>
</div>