.container {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #858AE3;
  }

  .container h1{
    color: white;
    margin-left: 47%;
    margin-top: 50px;
  }
  
  
  /* Estilos para el formulario y las tarjetas */
  .formulario {
    margin-top: 0px;
    padding: 10px;
  }
  
  li{
    list-style-type: none;
  }
  .tarjeta {
    display: flex;
    /* background-color: #BEBCFC; */
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    color: #321e8d;
    transition: background-color 0.3s;
    margin-top: 20px;
  }
  
  
  .left{
    margin-left: 70%;
  }
  
  .left img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
  }
  @media (min-width: 768px) {
    
    .tarjeta {
      max-width: 900px; /* Ajusta el ancho máximo de la tarjeta según tus necesidades */
      margin-left: 230px; /* Mueve la tarjeta a la derecha en pantallas más grandes */
      margin-right: 0; /* Elimina el margen derecho en pantallas más grandes */
    }
  }
  .tarjeta:hover {
    background-color: #CCC9F6;
  }
  
  .tarjeta h2 {
    margin-top: 0;
  }
  
  .informacion {
    margin-top: 10px;
  }
  
  h1 {
    color: #321e8d;
  }