<div class="container">
    <li class="container">
        <div class="formulario">
          <a href="detalle.html" class="tarjeta">
            <div class="right">
              <h2>Clasificación</h2>
              <div class="informacion">
                <p>Descripción:</p>
              </div>
            </div>
            <div class="left">
              <img src="https://w0.peakpx.com/wallpaper/682/490/HD-wallpaper-ellie-the-last-of-us-the-last-of-us-part-2-the-last-of-us-2020-games.jpg">
            </div>
          </a>
        </div>
    </li>
</div>
