<div class="container">
    <h1>Temas</h1>
    <li *ngFor="let item of listClasi" class="container">
        <div class="formulario">
          <a href="detalle.html" class="tarjeta">
            <div class="right">
              <h2>{{ item.clasificacion }}</h2>
              <div class="informacion">
                <p>{{ item.descripcion }}</p>
              </div>
            </div>
            <div class="left">
              <p>  {{ item.foto }} </p>
              <!-- <img src="" alt=""> -->
            </div>
          </a>
        </div>
    </li>
</div>
<br><br><br><br><br>
