<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="container" *ngIf="!loading">
    <div class="login-box">
        <form [formGroup]="form" (ngSubmit)="addBebe()">
        <h1>Formulario del bebe</h1>
        <div class="form-group">
            <input formControlName="nombre_completo" type="text" id="titulo" name="titulo" required="required">
            <span>Nombre proximo del bebé</span>
            <i></i>
            <span *ngIf="form.get('nombre_completo')?.hasError('required') && form.get('nombre_completo')?.touched ">
                El campo es <strong>requerido </strong>
            </span>
        </div>
        <div class="form-group">
            <select formControlName="fk_id_tipo_doc" class="way">
                <option [value]="item.id_tipo_doc" *ngFor="let item of listTipoDoc" class="j">{{item.tipo_doc}}</option>
            </select>   
            <i></i>
            <span *ngIf="form.get('fk_id_tipo_doc')?.hasError('required') && form.get('tipo_documento')?.touched ">
                El campo es <strong>requerido </strong>
            </span>
        </div>
        <div class="form-group">
            <input formControlName="numero_i" type="text" id="numero" name="numero" required="required">
            <span class="date">Numero</span>
            <i></i>
        </div>
        <div class="form-group">
            <input formControlName="edad" type="text" id="edad" name="ead" required="required">
            <span class="date">edad</span>
            <i></i>
        </div>
        <input type="submit" [disabled]="form.invalid" value="Guardar">
        </form>
    </div>
</div>