<section class="hero">
        <div class="hero-content">
          <h1>Bienvenido a Friendly Dads</h1>
          <br>
          <h4>Creando vinculos fuertes</h4><br><br><br>
          <p>Aquí encontrarás una amplia variedad de consejos y recursos para ayudarte en la crianza de tu hijo y fortalecer tus conocimientos en este campo. Nuestra plataforma está diseñada para proporcionarte información valiosa sobre temas como Salud, Nutrición, Estimulación Temprana y muchos otros aspectos relevantes para el desarrollo y bienestar de tu hijo.</p><br><br>
          <p>¿Quieres empezar con nosotros? <a href="#" routerLink="/sign-up" class="btn">Registrate</a></p>
          <i></i>
        </div>
      </section>
    
      
      <section class="features">
        <div class="feature">
          <img src="https://img.freepik.com/vector-premium/dibujos-animados-lindos-padres-bebe-vector_39961-720.jpg?w=2000" alt="Icono 1">
          <h3>Característica 1</h3><br>
          <p>Proporciona información exhaustiva sobre la importancia de una alimentación equilibrada y ofrece consejos prácticos para fomentar hábitos alimentarios saludables en tu niño.</p>
        </div>
        <div class="feature">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7rpGYMUY6Z2Jui2eXhR6fxkrEgFGwcl9uyWaHMEiH1H7zohHJ5mIN12VV-ad0lLWk24c&usqp=CAU" alt="Icono 2">
          <h3>Característica 2</h3><br>
          <p>Diseñamos nuestra página con una interfaz intuitiva y fácil de navegar, asegurando que la información esté disponible de manera clara y accesible para todos los usuarios, sin importar su nivel de experiencia o conocimiento previo.</p>
        </div>
        <div class="feature">
          <img src="https://img.freepik.com/vector-premium/dibujos-animados-lindos-padres-bebe-vector_39961-711.jpg?w=2000" alt="Icono 3">
          <h3>Característica 3</h3><br>
          <p>Fomentamos una comunidad en la que los padres puedan compartir sus experiencias y brindarse apoyo mutuo.</p>
        </div>
      </section>
