<section class="hero">
        <div class="hero-content">
          <h1>Bienvenido a Friendly Dads</h1>
          <h4>Creando vínculos fuertes</h4><br><br>
          <p>Aquí encontrarás una amplia variedad de consejos y recursos para ayudarte en la crianza de tu hijo fortaleciendo tus conocimientos en este campo. Nuestra plataforma está diseñada para proporcionarte información valiosa sobre temas como Salud, Nutrición, Estimulación Temprana y muchos otros aspectos relevantes para el desarrollo y bienestar de tu hijo.</p>
          <br>
          <h5>No nos hacemos responsables del mal uso que se le de a la información</h5><br>
          <p>¿Quieres empezar con nosotros? <a href="#" routerLink="/sign-up" class="btn">Regístrate</a></p>
          <i></i>
        </div>
      </section>
    
      
      <section class="features">
        <div class="feature">
          <img [src]="'assets/Madre.jpg'" alt="">
          <h3>Característica 1</h3><br>
          <p>Proporciona información exhaustiva sobre la importancia de una alimentación equilibrada y ofrece consejos prácticos para fomentar hábitos alimentarios saludables en tu bebé.</p>
        </div>
        <div class="feature">
          <img [src]="'assets/imagenx.jpg'" alt="">
          <h3>Característica 2</h3><br>
          <p>Diseñamos nuestra página con una interfaz intuitiva y fácil de navegar, asegurando que la información esté disponible de manera clara y accesible para todos los usuarios, sin importar su nivel de experiencia o conocimiento previo.</p>
        </div>
        <div class="feature">
          <img [src]="'assets/Padre.jpg'" alt="">
          <h3>Característica 3</h3><br>
          <p>Fomentamos una comunidad en la que los padres puedan compartir sus experiencias y brindarse apoyo mutuo.</p>
        </div>
      </section>
