<!-- <div class="container">
    <div class="login-box">
        <form class="form" [FormGroup]="form">
            <h1>Archivo</h1>
        <div class="form-group">
            <input formControlName="titulo" type="text" id="titulo" name="titulo" required="required">
            <span>Titulo:</span>
            <i></i>
        </div>
        <div class="form-group">
            <input formControlName="descripcion" type="text" id="descripcion" name="descripcion" required="required">
            <span>Descripcion:</span>
            <i></i>
        </div>
        <div class="form-group">
            <select formControl="clasificacion" class="way" aria-placeholder="clasificacion">
                <option value="tipo_documento" class="j">Clasificacion</option>
                <option value="cedula" class="j"></option>
                <option value="tarjeta_identidad" class="j"></option>
                <option value="pasaporte" class="j"></option>
                <option value="otro" class="j"></option>
            </select>
            <i></i>
        </div>
        <div class="form-group">
            <input formControlName="archivo" type="file" id="archivo" name="archivo" required="required">
            <span class="date">Archivo:</span>
            <i></i>
        </div>
            <input type="submit" value="Subir">
        </form>
    </div>
</div> -->
