<app-progress-bar *ngIf="loading"></app-progress-bar>
<div class="container" *ngIf="!loading">
    <div class="login-box">
        <form  [formGroup]="form" (ngSubmit)="addFile()" class="form">
            <h1>Archivo</h1>
        <div class="form-group">
            <input  formControlName="titulo" type="text" id="titulo" name="titulo">
            <span class="title">Titulo</span>
            <i></i>
            <span *ngIf="form.get('titulo')?.hasError('required')  && form.get('titulo')?.touched ">
                El campo es <strong>requerido </strong>
            </span>
        </div><br>
        <div class="form-group">
            <input  formControlName="descripcion" type="text" id="descripcion" name="descripcion">
            <span class="title">Descripcion</span>
            <i></i>
            <span *ngIf="form.get('descripcion')?.hasError('required') && form.get('descripcion')?.touched ">
                El campo es <strong>requerido </strong>
            </span>
        </div><br>
        <div class="form-group">
            <select formControlName="clasificacion"  class="way">
              <option [value]="item.id_clasificacion" *ngFor="let item of listClasiOf" class="j">
                {{ item.clasificacion }}
              </option>
            </select>
            <span class="title">Clasificación</span>
            <i></i>
            <span *ngIf="form.get('fk_id_clasificacion')?.hasError('required') && form.get('fk_id_clasificacion')?.touched ">
                El campo es <strong>requerido </strong>
            </span>
            </div><br>
          <div class="form-group">
            <select formControlName="admin" class="way">
              <option [value]="item.id_admin" *ngFor="let item of AdminOf" class="j">
                {{ item.nombres }}
              </option>
            </select>
            <span class="title">Autor</span>
            <i></i>
            <span *ngIf="form.get('fk_id_admin')?.hasError('required')  && form.get('fk_id_admin')?.touched ">
                El campo es <strong>requerido </strong>
            </span>
          </div><br>
        <div class="form-group">
            <input formControlName="archivo" type="file" id="archivo" name="archivo">
            <span class="title">Archivo</span>
            <i></i>
            <span *ngIf="form.get('archivo')?.hasError('required') && form.get('archivo')?.touched ">
                El campo es <strong>requerido </strong>
            </span>
        </div>
        <!-- <div class="form-group">
            <input type="file" id="archivo" name="archivo" (change)="onFileSelected($event)" required>
            <span class="title">Archivo</span>
            <i></i>
            <span *ngIf="form.get('archivo')?.hasError('required') && form.get('archivo')?.touched">
                El campo es <strong>requerido </strong>
            </span>
        </div> -->
            <button [disabled]="form.invalid"  type="submit">Subir</button>
            <button routerLink="/menu-admin/{{id_cuenta}}">Volver</button>
        </form>
    </div>
</div>

