<form>
    <div class="form-group">
        <label for="registerUsername">Nombre de usuario</label>
        <input type="text" id="registerUsername" placeholder="Ingresa tu nombre de usuario" required>
    </div>
    <div class="form-group">
        <label for="registerPassword">Contraseña</label>
        <input type="password" id="registerPassword" placeholder="Ingresa tu contraseña" required>
    </div>
    <div class="form-group">
        <label for="registerUsername">Nombre de usuario</label>
        <input type="text" id="registerUsername" placeholder="Ingresa tu nombre de usuario" required>
    </div>
    <div class="form-group">
        <label for="registerPassword">Contraseña</label>
        <input type="password" id="registerPassword" placeholder="Ingresa tu contraseña" required>
    </div>
    <div class="form-group">
        <button type="submit">Registrar</button>
    </div>
</form>