.container {
    margin-top: 50px ;
    height: 450px;
}

.table-container {
    border-radius: 10px;
    background-color: #553eba;
    color: aliceblue;
    display: flex;
    margin-left: 110px;
    margin-right: 110px;
    justify-content: center;
}
.bottons .tittle {
    margin-right: 600px;
    color: white;
}

.bottons{
    display: flex;
    justify-content: right;
    margin-right: 110px;
}

table {
    width: 100%;
    max-width: 100%;
    }
th, td {
    padding: 10px;
    text-align: center;
}

.custom-link-left {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eaeaea;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  .custom-link-left:hover {
    background-color: #ccc;
  }
.custom-link-left {
    align-items: center;

}

.custom-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eaeaea;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  .custom-link:hover {
    background-color: #ccc;
  }
  
.color1 {
    background: red;
    color: whitesmoke;
}

.color2 {
    background: rgb(41, 26, 96);
    color: whitesmoke;
}

table thead {
    border-radius: 10px;
     
}

@media (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }
}



