<div class="container">
    <div class="bottons">
        <h1 class="title">Contenidos</h1>
        <a href="" routerLink="/form-arch/{{id_cuenta}}" class="custom-link-left">Subir Contenido</a>
    </div>
    <div class="table-container">  
        <!-- <div class="bottons">
            <h1 class="title">Contenidos </h1>
            <a href="" routerLink="/form-arch/{{id_cuenta}}" class="custom-link-left">Subir Contenido</a>
        </div> -->
        <table *ngIf="listInfo.length > 0">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Archivo</th>
                    <th>Descripción</th>
                    <th>Clasificación</th>
                    <th>Autor</th>
                    <th>Fecha creación</th>
                    <th>Última modificación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listInfo">
                    <td>{{ data.nombre }}</td>
                    <!-- <td><img [src]="'{{ data.archivo }}'" alt=""></td> -->
                    <td>{{ data.archivo }}</td>
                    <td>{{ data.descripcion }}</td>
                    <td>{{ data.tbl_clasificacione.clasificacion }}</td>
                    <td>{{ data.tbl_administradore.nombres }}</td>
                    <td>{{ data.createdAt }}</td>
                    <td>{{ data.updatedAt }}</td>
                    <th>
                            <a (click)="deleteInfo(data.id_info)" class="custom-link color1">Eliminar</a>
                            <a  routerLink="/form-arch/{{ data.id_info}}" class="custom-link color2">Actualizar</a>
                    </th>
                </tr>
            </tbody>
        </table>
        <h5 *ngIf="listInfo.length == 0">No hay contenidos subidos</h5>
    </div><br><br><br>
    <div class="bottons">
        <h1 class="title">clasificación</h1>
        <a href="" routerLink="/clasificacion/{{id_cuenta}}" class="custom-link-left">Nueva Clasificación</a>
    </div>
    <!--Tabla de clasificaciones-->
    <div class="table-container"> 
        <!-- <div class="bottons">
            <h1 class="title">clasificación</h1>
            <a href="" routerLink="/clasificacion/{{id_cuenta}}" class="custom-link-left">Nueva Clasificación</a>
        </div> -->
        <table>
            <thead>
                <tr>
                    <th>Clasificaciones</th>
                    <th>Descripciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listClasi ">
                    <td>{{item.clasificacion}}</td>
                    <td>{{item.descripcion}}</td>
                    <th>
                            <a href="" (click)="deleteClasi(item.id_clasificacion)" class="custom-link color1">Eliminar</a>
                            <a href="" class="custom-link color2">Actualizar</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


