.table-container {
    border-radius: 10px;
    background-color: #454776;
    color: aliceblue;
    display: flex;
    margin: 60px;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 100%;
    }
th, td {
    padding: 10px;
    text-align: center;
}
table thead {
    border-radius: 10px;
    background-color: #2d2e4a; 
}

@media (max-width: 600px) {
    th, td {
        display: block;
        width: 100%;
    }
}
