<div class="container">
    <div class="bottons">
        <h1 class="title">Contenidos</h1>
        <a href="" routerLink="/form-arch" class="custom-link-left">Subir Contenido</a>
    </div>
    <div class="table-container">  
        <table *ngIf="listInfo.length > 0">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Archivo</th>
                    <th>Descripcion</th>
                    <th>Clasificasión</th>
                    <th>Autor</th>
                    <th>Fecha Creción</th>
                    <th>Ultima modificación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listInfo">
                    <td>{{ data.nombre }}</td>
                    <td>{{ data.archivo }}</td>
                    <td>{{ data.descripcion }}</td>
                    <td>{{ data.tbl_clasificacione.clasificacion }}</td>
                    <td>{{ data.tbl_administradore.nombres }}</td>
                    <td>{{ data.createdAt }}</td>
                    <td>{{ data.updatedAt }}</td>
                    <th>
                            <button (click)="deleteInfo(data.id_info)" class="custom-link color1">Eliminar</button>
                            <button class="custom-link color2">Actualizar</button>
                    </th>
                </tr>
            </tbody>
        </table>
        <h5 *ngIf="listInfo.length == 0">No hay contenidos subidos</h5>
    </div><br><br><br>
    <div class="bottons">
        <h1 class="title">clasificacion</h1>
        <a href="" routerLink="/clasificacion" class="custom-link-left">Nueva Clasificacion</a>
    </div>
    <!--Tabla de clasificaciones-->
    <div class="table-container"> 
        <table>
            <thead>
                <tr>
                    <th>Clasificaciones</th>
                    <th>Descripciones</th>
                    <th>Fecha Creción</th>
                    <th>Ultima modificación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <th>
                            <a href="" class="custom-link color1">Eliminar</a>
                            <a href="" class="custom-link color2">Actualizar</a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>


