<div id="profile">
    <div id="cover-photo">
    </div>
    <div id="profile-picture">
        <div id="profile-info">
            <img id="user-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/Gato_%282%29_REFON.jpg/1024px-Gato_%282%29_REFON.jpg" alt="Imagen del usuario">
        </div>
    </div>
<h1 id="name">Nombre de Usuario</h1>

<ul id="profile-menu">
    <li><a href="#">Mis fotos</a></li>
    <li><a href="#">Configuración</a></li>
</ul>
<div id="posts">
</div>
</div>
