<div class="container">
    <div class="register-box">
        <div *ngIf="!loading" class="form">
              <h1>Registro</h1>
              <div class="form-group">
                <input type="text" [(ngModel)]="usuario" required="required">
                <span>Usuario</span>
                <i></i>
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="correo" required="required">
                <span>Correo</span>
                <i></i>
              </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="contrasena" required="required">
                    <span>Contraseña</span>
                    <i></i>
                </div>
                <div class="form-group">
                    <input type="password" [(ngModel)]="confirmContrasena" required="required">
                    <span>Confirmar contraseña</span>
                    <i></i>
                </div>
                <input class="boton" type="submit" (click)="addCuenta()" value="Registrarse"> 
                
        </div>
        <app-spinner *ngIf="loading"></app-spinner>
    </div>
</div>