<div class="container">
    <main>
        <section class="search">
          <form>
            <input type="text" placeholder="Ingrese su búsqueda">
            <button type="submit">Buscar</button>
          </form>
        </section>
        
        <section class="results">
          <h2>Resultados de búsqueda</h2>
          <ul>
            <li>
              <h3>Título del resultado 1</h3>
              <p>Descripción del resultado 1</p>
            </li>
            <li>
              
              <h3>Título del resultado 2</h3>
              <p>Descripción del resultado 2</p>
            </li>
          </ul>
        </section>
      </main>
</div>