<div class="container">
    <main>
        <!-- <section class="search">
          <form>
            <input type="text" placeholder="Ingrese su búsqueda">
            <button type="submit">Buscar</button>
          </form>
        </section> -->
        <section class="results">
          <h1>Contenidos</h1><br>
            <button class="c" routerLink="/menu">Regresar al menú</button>
            <button class="b" routerLink="/perfil/{{userId}}">Regresar a mi perfil</button>
          <ul *ngIf="listInfo.length > 0">
              <li *ngFor="let item of listInfo">
                <a routerLink="/info/{{item.id_info}}">
                  <h3>{{item.nombre}}</h3>
                  <p>{{item.descripcion}}</p>
                  <h6>Autor: {{item.tbl_administradore.nombres}}</h6>
                </a>
              </li>
          </ul>
          <h5 *ngIf="listInfo.length == 0">No hay contenidos disponibles</h5>
        </section>
      </main>
</div>