    <div *ngIf="!loading"  class="container">
        <div class="left-section">
          <div class="login-form">
            <br><br><br>
            <h2>Iniciar sesión</h2>
            <form>
              <div class="form-group">
                <span>Correo</span>
                <input type="text" [(ngModel)]="correo" required="required">
                <i></i>
              </div>
              <div class="form-group">
                <span>Contraseña</span>
                <input type="password" [(ngModel)]="contrasena" required="required">
                <i></i>
            </div>
           <div class="containerr">
            <p class="mensaje">¿No tienes cuenta? <a class="register" routerLink="/sign-up">¡Regístrate!</a></p>
           </div>
            <br>
              <button type="submit" (click)="login()">Ingresar</button>
            </form>
          </div>
        </div>
        <div class="right-section">
          <img [src]="'assets/logopro.svg'" alt="Imagen SVG">
        </div>
      </div>
      <app-spinner *ngIf="loading"></app-spinner>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      