<div class="">
  <div class="container">
      <div class="form-image">
          <img src="" alt="">
      </div>
      <div class="form">
          <form action="#">
              <div class="form-header">
                  <div class="title">
                      <h1>Inicio de Sesión</h1>
                  </div>
              </div>
              <div class="input-group">
                  <div class="input-box">
                      <label for="nombre">Nombre del deportista:</label>
                      <input id="nombre" type="text" name="nombre" placeholder="Digite su nombre" required>
                  </div>
                  <div class="input-box">
                      <label for="edad">Edad del deportista:</label>
                      <input id="edad" type="text" name="edad" placeholder="Digite su edad" required>
                  </div>
                  <div class="input-box">
                      <label for="distancia">Distacia alcanzada (en cm):</label>
                      <input id="distancia" type="text" name="di+" placeholder="Digite la distancia" required>
                  </div>
                  <div class="gender-inputs">
                      <div class="gender-title">
                          <h6>Genero:</h6>
                      </div>
                      <br>
                      <div class="gender-group" >
                          <div class="gender-input">
                              <input id="mujer" type="radio" name="gender">
                              <label for="mujer">Femenino</label>
                          </div>
                          <br>
                          <br>
                          <div class="gender-input">
                              <input id="hombre" type="radio" name="gender">
                              <label for="hombre">Masculino</label>
                          </div>
                      </div>
                  </div>
                <div class="button-container">
                    <button>Regresar</button> 
                    <button>Guardar</button>
                </div>
              </div>
          </form>
      </div>
  </div>
</div>