    <div *ngIf="!loading"  class="container">
        <div class="left-section">
          <div class="login-form">
            <br><br>
            <h2>Iniciar sesión</h2>
            <form>
              <div class="form-group">
                <span>Correo</span>
                <input type="text" [(ngModel)]="correo" required="required" name="correo">
                <i></i>
              </div>
              <div class="form-group">
                <span>Contraseña</span>
                <input type="password" [(ngModel)]="contrasena" required="required" name="contrasena">
                <i></i>
            </div>
            <br>
            <div>
              <p>¿No tienes cuenta? <a href="#" routerLink="/sign-up" class="btn">Regístrate</a></p>
            </div>
            <br>
              <button type="submit" (click)="login()">Ingresar</button>
            </form>
          </div>
        </div>
        <div class="right-section">
          <img [src]="'assets/logopro.svg'" alt="Imagen SVG">
        </div>
      </div>
  <app-spinner *ngIf="loading"></app-spinner>
<br>

      
      