.container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    background-color: #BEBCFC;
    border-radius: 25px;
  }
  
  .left-section,
  .right-section {
    flex: 1;
  }
  
  .left-section {
    margin-top: 0;
    background-color: #BEBCFC;
    border-radius: 25px;
    margin-bottom: 40px;
  }
  
  .right-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .right-section img {
    fill: white;
  }
  
  .login-form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .login-form h2 {
    text-align: center;
  }
  
  .form-group {
    position: relative;
    width: 100%; 
    margin-top: 35px;
}
  
  /* .form-group label {
    display: block;
    margin-bottom: 5px;
  } */
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .login-link{
    display: flex;
    justify-content: space-between;
}
.login-link a{
    margin: 10px 0;
    font-size: 0.75em;
    color: #613DC1;
    text-decoration: none;
}
.login-link a:hover,
.login-link a:nth-child(2){
    color: #613DC1;
}
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #321e8d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      
    }
    .form-group input {
      border: 1px solid #ccc;
    }

  .left-section,
  .right-section {
    width: 200px;
    width: 200px;
  }
  }

  h2{
    color:#553eba
  }
  
  label{
    color: #553eba;
  }
  span{
    color: #553eba;
  }
p{
  color: #553eba;
}
  a{
    color: #321e8d;
  }

.containerr{
  margin-top: 12px;
  margin-left: 175px;
}