<div class="container">
    <div class="login-box">
        <form class="form" >
            <h1>Nueva Clasificacion</h1><br>
        <div class="form-group">
            <input type="text" id="titulo" name="titulo" required="required">
            <span>Titulo</span>
            <i></i>
        </div>
        <div class="form-group">
            <input  type="text" id="descripcion" name="descripcion" required="required">
            <span>Descripcion</span>
            <i></i>
        </div>
            <input type="submit" value="Guardar">
        </form>
    </div>
</div>
