<div class="container">
    <div class="from-box">
        <div class="form-b">
              <h1>Formulario bebé</h1>
              <div class="form-group">
                <input type="text" required="required">
                <span>Nombre Completo</span>
                <i></i>
              </div>
                    <div class="form-group">
                        <select class="way">
                            <option value="tipo_documento" class="j">Tipo documento</option>
                            <option value="registro_civil" class="j">Registro civil</option>
                            <option value="tarjeta_identidad" class="j">Tarjeta de Identidad</option>
                            <option value="pasaporte" class="j">Pasaporte</option>
                            <option value="otro" class="j">Otro</option>
                        </select>
                        <i></i>
                        </div>
                <div class="form-group">
                    <input type="text" required="required">
                    <span>Número de identificación</span>
                    <i></i>
                </div>
                <div class="form-group">
                    <input type="number" required="required">
                    <span>Meses</span>
                    <i></i>
                </div>
                  <input type="submit" value="Enviar">  
        </div>
    </div>
</div>

