<div class="container">
    <div class="login-box">
        <form class="form">
          <h1>Formulario del bebe</h1>
          <div class="form-group">
            <input type="text" id="titulo" name="titulo" required="required">
            <span>Nombre proximo del bebé</span>
            <i></i>
          </div>
          <div class="form-group">
            <select class="way">
                <option value="tipo_documento" class="j">Tipo documento</option>
                <option value="Madre" class="j">Cedula</option>
                <option value="Padre" class="j">Targeta de identida</option>
            </select>
            <i></i>
          </div>
          <div class="form-group">
            <input type="text" id="fecha-creacion" name="fecha-creacion" required="required">
            <span class="date">Numero</span>
            <i></i>
          </div>
          <div class="form-group">
            <input type="text" id="fecha-modificacion" name="fecha-modificacion" required="required">
            <span class="date">Meses</span>
            <i></i>
          </div>
          <input type="submit" value="Guardar">
        </form>
      </div>
  </div>