:host {
    display: block;
    text-align: center;
  }
  
  h2 {
    margin-top: 0;
  }
  
  button {
    margin-top: 10px;
  }
  
  @media (max-width: 480px) {
    input, button {
      width: 100%;
    }
  }
  